<form accept-charset="UTF-8" action="/orders" class="new_order" id="new_order" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="qLYUg2pgsqq1IVkCKxx9HP/44bFv32LsJqg3iOGPVR4="></div>

  <div class="field">
    <label for="order_description">Description</label><br>
    <input id="order_description" name="order[description]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_restaurant">Restaurant</label><br>
    <input id="order_restaurant" name="order[restaurant]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_voters">Voters</label><br>
    <input id="order_voters" name="order[voters]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_tray">Tray</label><br>
    <input id="order_tray" name="order[tray]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_name">Name</label><br>
    <input id="order_name" name="order[name]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_address">Address</label><br>
    <input id="order_address" name="order[address]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_city">City</label><br>
    <input id="order_city" name="order[city]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_state">State</label><br>
    <input id="order_state" name="order[state]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_zip">Zip</label><br>
    <input id="order_zip" name="order[zip]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_phone">Phone</label><br>
    <input id="order_phone" name="order[phone]" size="30" type="text">
  </div>
  <div class="field">
    <label for="order_email">Email</label><br>
    <input id="order_email" name="order[email]" size="30" type="text">
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create Order">
  </div>
</form>